.menu{
  border-radius: 100% !important;
  border: 7px solid white !important;
  overflow: hidden;
  width: 100px;
  align-self: center;

}

.mainSlide, .mainSlide ion-slide {
  width: 100%;
  height: 100%;
}

.welcome-card{
  background-color: white !important;
}
