
<ion-content >
  <ion-slides class="mainSlide"  (click)="cargarHome()" style="background-color: #01B5E2;">

    <ion-slide>

      <table width="100%" height="80%" >
        <tr>
          <td align="center"  colspan="2">
            <ion-img [src]="logoEscuela" class="animate__animated animate__rubberBand" style="width: 70%"></ion-img>
          </td>
        </tr>
        <tr>
          <td align="center">
            <ion-img [src]="logoBot" class="animate__animated animate__rubberBand" style="width: 70%"></ion-img>
          </td>
          <td align="center">
            <ion-img [src]="logoPqrsd" class="animate__animated animate__rubberBand" style="width: 70%"></ion-img>
          </td>
        </tr>
        <tr>
          <td align="center" style="background-color: white;" colspan="2">
            <ion-img [src]="logoTitulo" class="animate__animated animate__fadeInUp"></ion-img>
          </td>
        </tr>
      </table>

    </ion-slide>
  </ion-slides>

</ion-content>



