#container {
  padding: 5px;
}

ion-input, ion-select, ion-textarea{
    border: solid 1px gray;
    width:100%;
 }



  h3, .h3 {
    font-size: 1.75rem;
    color: #071D49;
}

h4, .h4 {
  font-size: 1.25rem;
  color: #071D49;
}


.bg-primary {
  color: #fff;
  background-color: #01B5E2;
  padding: 0.5em
}

.claseMensajeError{
  font-size: 1.2em; color: red;
}

